<template lang="pug">
  .step.step_2
    ValidationObserver(v-slot="{ passes, validate }")
      .step__two-col
        AppInput(:field.sync='passportNum', :input='schema.passportNum', name="passportNum", rules="required")
        
        AppInput(:field.sync='birthDate', :input='schema.birthDate', name="birthDate", rules="required")
      
      AppInput(:field.sync='birthPlace', :input='schema.birthPlace', name="birthPlace", rules="required")
      
      .step__two-col
        AppInput(:field.sync='passportDate', :input='schema.passportDate', name="passportDate", rules="required")
        
        AppInput(:field.sync='passportCode', :input='schema.passportCode', name="passportCode", rules="required")
      
      AppInput(:field.sync='passportGivenBy', :input='schema.passportGivenBy', name="passportGivenBy", rules="required")
      
      v-select.selectBox.selectBox_family(:options='familyStatusOptions', v-model='familyStatus', :searchable='false')
      
      
      .step__title Адрес постоянной регистрации
      .step__subtitle Если постоянная регистрация отсутствует, введите адрес временной регистрации
      
      .step__two-col
        AppInput(:field.sync='permanentAddressIndex', :input='schema.permanentAddressIndex', name="permanentAddressIndex")
        
        AppInput(:field.sync='permanentAddressRegion', :input='schema.permanentAddressRegion', name="permanentAddressRegion", rules="required")
      
      div(v-if = "permanentAddressRegion.toLowerCase() === city")
        
        AppInput(:field.sync='permanentAddressCity', :input='schema.permanentAddressCity', name="permanentAddressCity", rules="required")
        
        AppInput(:field.sync='permanentAddressLocality', :input='schema.permanentAddressLocality', name="permanentAddressLocality", rules="required")
        
        .step__two-col
          AppInput(:field.sync='permanentAddressStreet', :input='schema.permanentAddressStreet', name="permanentAddressStreet", rules="required")
          
          AppInput(:field.sync='permanentAddressHouse', :input='schema.permanentAddressHouse', name="permanentAddressHouse", rules="required")
        
        .step__three-col
          AppInput(:field.sync='permanentAddressCorpus', :input='schema.permanentAddressCorpus', name="permanentAddressCorpus")
          
          AppInput(:field.sync='permanentAddressStroenie', :input='schema.permanentAddressStroenie', name="permanentAddressStroenie")
          
          AppInput(:field.sync='permanentAddressFlat', :input='schema.permanentAddressFlat', name="permanentAddressFlat")
        
      .step__title.step__title_mb Адрес фактического проживания
      
      .checkbox.checkbox--top-bot-m
        input.checkbox__control(type="checkbox", v-model="checkboxEqualsToPermanentAddress", @change="handleCheckboxChange", name="checkboxEqualsToPermanentAddress", id="checkboxEqualsToPermanentAddress")
        label.checkbox__label(for="checkboxEqualsToPermanentAddress")
          | Совпадает с постоянной регистрацией
      
      div(v-if="!checkboxEqualsToPermanentAddress")
  
        .step__two-col
          AppInput(:field.sync='actualAddressIndex', :input='schema.actualAddressIndex', name="actualAddressIndex")
          
          AppInput(:field.sync='actualAddressRegion', :input='schema.actualAddressRegion', name="actualAddressRegion", rules="required")
        
        div(v-if = "actualAddressRegion.toLowerCase() === city")
          
          AppInput(:field.sync='actualAddressCity', :input='schema.actualAddressCity', name="actualAddressCity", rules="required")
          
          AppInput(:field.sync='actualAddressLocality', :input='schema.actualAddressLocality', name="actualAddressLocality", rules="required")
          
          .step__two-col
            AppInput(:field.sync='actualAddressStreet', :input='schema.actualAddressStreet', name="actualAddressStreet", rules="required")
            
            AppInput(:field.sync='actualAddressHouse', :input='schema.actualAddressHouse', name="actualAddressHouse", rules="required")
          
          .step__three-col
            AppInput(:field.sync='actualAddressCorpus', :input='schema.actualAddressCorpus', name="actualAddressCorpus")
            
            AppInput(:field.sync='actualAddressStroenie', :input='schema.actualAddressStroenie', name="actualAddressStroenie")
            
            AppInput(:field.sync='actualAddressFlat', :input='schema.actualAddressFlat', name="actualAddressFlat")
      
      
      .bottom-controls
        .calc-button.calc-button_back
          a.calc-button__inner(href="#", @click.prevent="handleClickBack")
            include ../assets/img/step-back-arrow.svg
        
        .calc-button
          a.calc-button__inner(href="#", @click.prevent="handleClick(validate)") продолжить


</template>

<script>
  import {mapFields} from 'vuex-map-fields';
  import {ValidationObserver} from "vee-validate";

  export default {
    name: 'step2',
    components: {
      ValidationObserver
    },
    methods: {
      checkButton() {
        console.log('fff', this.checkboxEqualsToPermanentAddress)
      },
      handleCheckboxChange() {
        this.checkButton();
      },
      toTop() {
        var element = document.getElementsByClassName("title-calc")[0];
        element.scrollIntoView({behavior: "smooth"})
      },

      goto() {
        // var element = document.getElementsByClassName("input__error")[0];
        // var elementPosition = element.getBoundingClientRect().top;
        // var offsetPosition;
        // if (elementPosition > 600) {
        //   offsetPosition = elementPosition + 100;
        //   console.log('vnutri')
        // }
        // offsetPosition = elementPosition;
        //
        // window.scrollTo({
        //   top: offsetPosition,
        //   behavior: "smooth"
        // });
      },
      
      handleClick(validate) {
        validate().then(res => {
          if (res) {
            this.activeStep = 3;
            this.toTop()
            this.$router.push({name: 'step3'})
          } else {
              // console.log(this.$children[0].errors)
            this.$scrollTo(`.input__error`);
            // this.goto();
          }
        })
      },
      handleClickBack() {
        this.activeStep = 1;
        this.toTop();
        this.$router.push({name: 'step1'})
      },
      
      
    },
    computed: {
      ...mapFields({
        schema: 'schema',
        birthPlace: 'birthPlace',
        passportNum: 'passportNum',
        birthDate: 'birthDate',
        passportDate: 'passportDate',
        passportCode: 'passportCode',
        passportGivenBy: 'passportGivenBy',
        familyStatus: 'familyStatus',
        familyStatusOptions: 'familyStatusOptions',
        permanentAddressIndex: 'permanentAddressIndex',
        permanentAddressRegion: 'permanentAddressRegion',
        permanentAddressCity: 'permanentAddressCity',
        permanentAddressLocality: 'permanentAddressLocality',
        permanentAddressStreet: 'permanentAddressStreet',
        permanentAddressHouse: 'permanentAddressHouse',
        permanentAddressCorpus: 'permanentAddressCorpus',
        permanentAddressStroenie: 'permanentAddressStroenie',
        permanentAddressFlat: 'permanentAddressFlat',
        checkboxEqualsToPermanentAddress: 'checkboxEqualsToPermanentAddress',
        actualAddressIndex: 'actualAddressIndex',
        actualAddressRegion: 'actualAddressRegion',
        actualAddressCity: 'actualAddressCity',
        actualAddressLocality: 'actualAddressLocality',
        actualAddressStreet: 'actualAddressStreet',
        actualAddressHouse: 'actualAddressHouse',
        actualAddressCorpus: 'actualAddressCorpus',
        actualAddressStroenie: 'actualAddressStroenie',
        actualAddressFlat: 'actualAddressFlat',
        activeStep: 'activeStep',
        city: 'city'
      }),

    }
  }
</script>
