<template lang="pug">
  .step.step_3
    ValidationObserver(v-slot="{ passes, validate }")
  
      v-select.selectBox.selectBox_education(:options='educationOptions', v-model='education', :searchable='false', rules="required")
      
      v-select.selectBox.selectBox_work(:options='workOptions', v-model='work', :searchable='false',rules="required")
      
      div(v-if = "work.toLowerCase() === 'работаю в организации' || work.toLowerCase() === 'собственный бизнес'")
      
        v-select.selectBox.selectBox_orgName(:options='orgNameOptions', v-model='orgName', :searchable='false', rules="required")
        
        AppInput(:field.sync='inn', :input='schema.inn', name="inn")
        
        .step__title Рабочий адрес
        
        
        div(v-if="work.toLowerCase() === 'собственный бизнес'")
          .checkbox.checkbox--top-bot-m
          input.checkbox__control(type="checkbox", v-model="checkboxWorkEqualsToLivingAddress", @change="handleCheckboxChange", name="checkboxWorkEqualsToLivingAddress", id="checkboxWorkEqualsToLivingAddress")
          label.checkbox__label(for="checkboxWorkEqualsToLivingAddress")
            | Совпадает с адресом регистрации
          br
          br
          
        
        div(v-if="!checkboxWorkEqualsToLivingAddress")
          
          .step__two-col
            AppInput(:field.sync='workIndex', :input='schema.workIndex', name="workIndex")
        
            AppInput(:field.sync='workRegion', :input='schema.workRegion', name="workRegion", rules="required")
      
          div(v-if = "workRegion.toLowerCase() === city")
          
            AppInput(:field.sync='workCity', :input='schema.workCity', name="workCity", rules="required")
          
            AppInput(:field.sync='workLocality', :input='schema.workLocality', name="workLocality", rules="required")
            
            .step__two-col
              AppInput(:field.sync='workStreet', :input='schema.workStreet', name="workStreet", rules="required")
          
              AppInput(:field.sync='workHouse', :input='schema.workHouse', name="workHouse", rules="required")
        
            .step__three-col
              AppInput(:field.sync='workCorpus', :input='schema.workCorpus', name="workCorpus")
          
              AppInput(:field.sync='workStroenie', :input='schema.workStroenie', name="workStroenie")
          
              AppInput(:field.sync='workOffice', :input='schema.workOffice', name="workOffice")
    
        .step__two-col
          AppInput(:field.sync='workNumber', :input='schema.workNumber', name="workNumber", rules="required")
      
          AppInput(:field.sync='workAdditionalNumber', :input='schema.workAdditionalNumber', name="workAdditionalNumber")
        .step__comment Телефон бухгалтерии или отдела кадров. Стационарный или мобильный.
    
        v-select.selectBox.selectBox_posOptions(:options='positionOptions', v-model='position', :searchable='false')
    
        .step__two-col
          v-select.selectBox.selectBox_experiencwOptioins(:options='workExperienceOptions', v-model='workExperience', :searchable='false')
      
          v-select.selectBox.selectBox_bankOptioins(:options='salaryBankOptions', v-model='salaryBank', :searchable='false')
      
      .step__big-input
        AppInput(:field.sync='averageIncome', :input='schema.averageIncome', name="averageIncome", rules="required")
  
      .step__two-col
        v-select.selectBox.selectBox_familyMembersNum(:options='familyMembersNumOptions', v-model='familyMembersNum', :searchable='false')
    
        AppInput(:field.sync='snils', :input='schema.snils', name="snils")
        
      v-select.selectBox.selectBox_additionalIncome(:options='extraIncomeOptions', v-model='extraIncome', :searchable='false')
      
      div(v-if = "extraIncome.toLowerCase() === 'индивидуальный предприниматель' || extraIncome.toLowerCase() === 'доход от собственного бизнеса' || extraIncome.toLowerCase() === 'работа по совместительству'")
      
        AppInput(:field.sync='additionalWorkName', :input='schema.additionalWorkName', name="additionalWorkName")
       
        AppInput(:field.sync='additionalInn', :input='schema.additionalInn', name="additionalInn")
        
        .step__title Рабочий адрес
        
        div(v-if = "extraIncome.toLowerCase() === 'индивидуальный предприниматель' || extraIncome.toLowerCase() === 'доход от собственного бизнеса'")
          .checkbox.checkbox--top-bot-m
            input.checkbox__control(type="checkbox", v-model="checkboxSecondWorkEqualsToLivingAddress", @change="handleCheckboxChange", name="checkboxSecondWorkEqualsToLivingAddress", id="checkboxSecondWorkEqualsToLivingAddress")
            label.checkbox__label(for="checkboxSecondWorkEqualsToLivingAddress")
              | Совпадает с адресом регистрации
          
        div(v-if="!checkboxSecondWorkEqualsToLivingAddress")
          .step__two-col
            AppInput(:field.sync='secondWorkIndex', :input='schema.secondWorkIndex', name="secondWorkIndex")
      
            AppInput(:field.sync='secondWorkRegion', :input='schema.secondWorkRegion', name="secondWorkRegion", rules="required")
      
          div(v-if = "secondWorkRegion.toLowerCase() === city")
            
            AppInput(:field.sync='secondWorkCity', :input='schema.secondWorkCity', name="secondWorkCity", rules="required")
        
            AppInput(:field.sync='secondWorkLocality', :input='schema.secondWorkLocality', name="secondWorkLocality", rules="required")
        
            .step__two-col
              AppInput(:field.sync='secondWorkStreet', :input='schema.secondWorkStreet', name="secondWorkStreet", rules="required")
          
              AppInput(:field.sync='secondWorkHouse', :input='schema.secondWorkHouse', name="secondWorkHouse", rules="required")
        
            .step__three-col
              AppInput(:field.sync='secondWorkCorpus', :input='schema.secondWorkCorpus', name="secondWorkCorpus")
          
              AppInput(:field.sync='secondWorkStroenie', :input='schema.secondWorkStroenie', name="secondWorkStroenie")
          
              AppInput(:field.sync='secondWorkOffice', :input='schema.secondWorkOffice', name="secondWorkOffice")
      
        .step__two-col
          AppInput(:field.sync='secondWorkNumber', :input='schema.secondWorkNumber', name="secondWorkNumber", rules="required")
      
          AppInput(:field.sync='secondWorkAdditionalNumber', :input='schema.secondWorkAdditionalNumber', name="secondWorkAdditionalNumber")
        .step__comment Телефон бухгалтерии или отдела кадров. Стационарный или мобильный.
    
        v-select.selectBox.selectBox_posOptions(:options='positionOptions', v-model='position', :searchable='false')
    
        .step__two-col
          v-select.selectBox.selectBox_experiencwOptioins(:options='secondWorkExperienceOptions', v-model='secondWorkExperience', :searchable='false')
      
          v-select.selectBox.selectBox_bankOptioins(:options='salaryBankOptions', v-model='salaryBank', :searchable='false')
  
      .bottom-controls
        .calc-button.calc-button_back
          a.calc-button__inner(href="#", @click.prevent="handleClickBack")
            include ../assets/img/step-back-arrow.svg
    
        .calc-button
          a.calc-button__inner(href="#", @click.prevent="handleClick(validate)") продолжить
  
</template>

<script>
  import {mapFields} from 'vuex-map-fields';
  import {ValidationObserver} from "vee-validate";

  export default {
    name: 'step3',
    components: {
      ValidationObserver
    },
    methods: {
      checkButton() {
        console.log('fff', this.checkboxSecondWorkEqualsToLivingAddress)
      },
      handleCheckboxChange() {
        this.checkButton();
      },
      goto() {
        // var element = document.getElementsByClassName("input__error")[0];
        // console.log(element)
        // var elementPosition = element.getBoundingClientRect().top;
        // var offsetPosition;
        // console.log(elementPosition)
        // if (elementPosition < 0) return;
        // if (elementPosition > 600) {
        //   offsetPosition = elementPosition + 100;
        //   console.log('vnutri')
        // }
        // offsetPosition = elementPosition;
        //
        // window.scrollTo({
        //   top: offsetPosition,
        //   behavior: "smooth"
        // });
        
      },

      toTop() {
        var element = document.getElementsByClassName("title-calc")[0];
        element.scrollIntoView({behavior: "smooth"})
      },
      
      handleClick(validate) {
        validate().then(res => {
          if (res) {
            this.activeStep = 4;
            this.toTop()
            this.$router.push({name: 'step4'})

          } else {
            this.$scrollTo(`.input__error`);
          }
        })
      },
      handleClickBack() {
        this.activeStep = 2;
        this.toTop();
        this.$router.push({name: 'step2'})
      },
    },
    computed: {
      ...mapFields({
        schema: 'schema',
        education: 'education',
        educationOptions: 'educationOptions',
        work: 'work',
        workOptions: 'workOptions',
        orgName: 'orgName',
        orgNameOptions: 'orgNameOptions',
        position: 'position',
        positionOptions: 'positionOptions',
        workExperience: 'workExperience',
        workExperienceOptions:'workExperienceOptions',
        salaryBank: 'salaryBank',
        salaryBankOptions: 'salaryBankOptions',
        familyMembersNum: 'familyMembersNum',
        familyMembersNumOptions: 'familyMembersNumOptions',
        extraIncome: 'extraIncome',
        extraIncomeOptions: 'extraIncomeOptions',
        inn:'inn',
        workIndex:'workIndex',
        workRegion:'workRegion',
        workCity:'workCity',
        workLocality:'workLocality',
        workStreet:'workStreet',
        workHouse:'workHouse',
        workCorpus:'workCorpus',
        workStroenie:'workStroenie',
        workOffice:'workOffice',
        workNumber:'workNumber',
        workAdditionalNumber:'workAdditionalNumber',
        averageIncome:'averageIncome',
        snils:'snils',
        additionalWorkName:'additionalWorkName',
        additionalInn:'additionalInn',
        activeStep: 'activeStep',
        checkboxWorkEqualsToLivingAddress: 'checkboxWorkEqualsToLivingAddress',
        checkboxSecondWorkEqualsToLivingAddress: 'checkboxSecondWorkEqualsToLivingAddress',
        secondWorkIndex: 'secondWorkIndex',
        secondWorkRegion: 'secondWorkRegion',
        secondWorkCity: 'secondWorkCity',
        secondWorkLocality: 'secondWorkLocality',
        secondWorkStreet: 'secondWorkStreet',
        secondWorkHouse: 'secondWorkHouse',
        secondWorkCorpus: 'secondWorkCorpus',
        secondWorkStroenie: 'secondWorkStroenie',
        secondWorkOffice: 'secondWorkOffice',
        secondWorkNumber: 'secondWorkNumber',
        secondWorkAdditionalNumber: 'secondWorkAdditionalNumber',
        secondPosition: 'secondPosition',
        secondPositionOptions: 'secondPositionOptions',
        secondWorkExperience: 'secondWorkExperience',
        secondWorkExperienceOptions: 'secondWorkExperienceOptions',
        secondSalaryBank: 'secondSalaryBank',
        secondSalaryBankOptions: 'secondSalaryBankOptions',
        city: 'city'
      }),

    }
  }
</script>
