<template lang="pug">
  .step.step_6
    .thankyou
      .thankyou__img
        include ../assets/img/form-icon-thankyou.svg
      .thankyou__heading Спасибо за оставленную заявку
      .thankyou__text В ближайшее время с Вами свяжется наш специалист!

</template>

<script>
  import { mapFields } from 'vuex-map-fields';
  import { ValidationObserver } from "vee-validate";

  export default {
    name: 'step6',
    components: {
      ValidationObserver
    },
    methods: {
      checkButton(){
        console.log('fff', this.checkboxChecked)
      },
      handleClick(validate) {
        validate().then(res => {
          if (res) {
            // this.activeStep = 4;
            // this.$router.push({name: 'step4'})

          }
        })
      },
      handleClickBack() {
        this.activeStep = 4;
        this.toTop();
        this.$router.push({name: 'step4'})
      },

      toTop() {
        var element = document.getElementsByClassName("title-calc")[0];
        element.scrollIntoView({behavior: "smooth"})
      },

    },
    computed:{
      ...mapFields({
        schema:'schema',
        smsCode: 'smsCode',
        number: 'number',
        activeStep: 'activeStep'
      }),

    }
  }
</script>
