<template lang="pug">
  .step.step_4
    .step__heading Информация об имуществе и обязательствах повышают  вероятность одобрения кредита.
    .step__title.step_bold.step_marg-bot Сведения об имуществе
    
    ValidationObserver(v-slot="{ passes, validate }")
  
      .step__two-col.step__w60-w40
        .checkbox.checkbox--top-bot-m.checkbox_bold
          input.checkbox__control(type="checkbox", v-model="checkboxHaveFlat", @change="handleCheckboxChange", name="checkboxHaveFlat", id="checkboxHaveFlat")
          label.checkbox__label(for="checkboxHaveFlat")
            | Имею в собственности  квартиру или дом
        .checkbox.checkbox--top-bot-m.checkbox_bold(v-show="checkboxHaveFlat")
          input.checkbox__control(type="checkbox", v-model="checkboxFlatAsCollateral", @change="handleCheckboxChange", name="checkboxHaveFlat", id="checkboxFlatAsCollateral")
          label.checkbox__label(for="checkboxFlatAsCollateral")
            |  Предоставить в залог
          
      div(v-if="checkboxHaveFlat")
        v-select.selectBox.selectBox_propertyType(:options='propertyTypeOptions', v-model='propertyType', :searchable='false')
        
        .step__two-col
          AppInput(:field.sync='propertyIndex', :input='schema.propertyIndex', name="propertyIndex")
          AppInput(:field.sync='propertyRegion', :input='schema.propertyRegion', name="propertyRegion", rules="required")
        div(v-if = "propertyRegion === city")
          AppInput(:field.sync='propertyCity', :input='schema.propertyCity', name="propertyCity", rules="required")
          AppInput(:field.sync='propertyLocality', :input='schema.propertyLocality', name="propertyLocality", rules="required")
          .step__two-col
            AppInput(:field.sync='propertyStreet', :input='schema.propertyStreet', name="propertyStreet", rules="required")
            AppInput(:field.sync='propertyHouse', :input='schema.propertyHouse', name="propertyHouse", rules="required")
          .step__three-col
            AppInput(:field.sync='propertyCorpus', :input='schema.propertyCorpus', name="propertyCorpus")
            AppInput(:field.sync='propertyStroenie', :input='schema.propertyStroenie', name="propertyStroenie")
            AppInput(:field.sync='propertyFlat', :input='schema.propertyFlat', name="propertyFlat")
        .step__two-col
          AppInput(:field.sync='propertySquare', :input='schema.propertySquare', name="propertySquare")
          AppInput(:field.sync='propertyPrice', :input='schema.propertyPrice', name="propertyPrice")
        AppInput(:field.sync='propertyShare', :input='schema.propertyShare', name="propertyShare")
        
      hr
      .step__two-col.step__w60-w40
        .checkbox.checkbox_bold.checkbox--top-bot-m
          input.checkbox__control(type="checkbox", v-model="checkboxHaveNonResidentialProperty", @change="handleCheckboxChange", name="checkboxHaveNonResidentialProperty", id="checkboxHaveNonResidentialProperty")
          label.checkbox__label(for="checkboxHaveNonResidentialProperty")
            | Имею в собственности нежилое помещение
        .checkbox.checkbox--top-bot-m.checkbox_bold(v-show="checkboxHaveNonResidentialProperty")
          input.checkbox__control(type="checkbox", v-model="checkboxNonResidentalAsCollateral", @change="handleCheckboxChange", name="checkboxNonResidentalAsCollateral", id="checkboxNonResidentalAsCollateral")
          label.checkbox__label(for="checkboxNonResidentalAsCollateral")
            |  Предоставить в залог
        
        
      div(v-if="checkboxHaveNonResidentialProperty")
        
        v-select.selectBox.selectBox_propertyType(:options='nonResPropertyTypeOptions', v-model='nonResPropertyType', :searchable='false')
        
        .step__two-col
          AppInput(:field.sync='nonResPropertyIndex', :input='schema.nonResPropertyIndex', name="nonResPropertyIndex")
          AppInput(:field.sync='nonResPropertyRegion', :input='schema.nonResPropertyRegion', name="nonResPropertyRegion", rules="required")
        div(v-if = "nonResPropertyRegion.toLowerCase() === city")
          AppInput(:field.sync='nonResPropertyCity', :input='schema.nonResPropertyCity', name="nonResPropertyCity", rules="required")
          AppInput(:field.sync='nonResPropertyLocality', :input='schema.nonResPropertyLocality', name="nonResPropertyLocality", rules="required")
          .step__two-col
            AppInput(:field.sync='nonResPropertyStreet', :input='schema.nonResPropertyStreet', name="nonResPropertyStreet", rules="required")
            AppInput(:field.sync='nonResPropertyHouse', :input='schema.nonResPropertyHouse', name="nonResPropertyHouse", rules="required")
          .step__three-col
            AppInput(:field.sync='nonResPropertyCorpus', :input='schema.nonResPropertyCorpus', name="nonResPropertyCorpus")
            AppInput(:field.sync='nonResPropertyStroenie', :input='schema.nonResPropertyStroenie', name="nonResPropertyStroenie")
            AppInput(:field.sync='nonResPropertyFlat', :input='schema.nonResPropertyFlat', name="nonResPropertyFlat")
          .step__two-col
            AppInput(:field.sync='nonResPropertySquare', :input='schema.nonResPropertySquare', name="nonResPropertySquare")
            AppInput(:field.sync='nonResPropertyPrice', :input='schema.nonResPropertyPrice', name="nonResPropertyPrice")
          AppInput(:field.sync='nonResPropertyShare', :input='schema.nonResPropertyShare', name="nonResPropertyShare")
        
      hr
      .step__two-col.step__w60-w40
        .checkbox.checkbox--bottom-m.checkbox_bold
          input.checkbox__control(type="checkbox", v-model="checkboxHaveCar", @change="handleCheckboxChange", name="checkboxHaveCar", id="checkboxHaveCar")
          label.checkbox__label(for="checkboxHaveCar")
            | Имею в собственности автомобиль
        .checkbox.checkbox--bottom-m.checkbox_bold(v-show="checkboxHaveCar")
          input.checkbox__control(type="checkbox", v-model="checkboxAutoAsCollateral", @change="handleCheckboxChange", name="checkboxAutoAsCollateral", id="checkboxAutoAsCollateral")
          label.checkbox__label(for="checkboxAutoAsCollateral")
            |  Предоставить в залог
          
      div(v-if="checkboxHaveCar")
        .step__two-col
          v-select.selectBox(:options='carTypeOptions', v-model='carType', :searchable='false')
          AppInput(:field.sync='carModel', :input='schema.carModel', name="carModel")
        .step__three-col
          AppInput(:field.sync='carYear', :input='schema.carYear', name="carYear")
          AppInput(:field.sync='carPrice', :input='schema.carPrice', name="carPrice")
          AppInput(:field.sync='carNumber', :input='schema.carNumber', name="carNumber")
        .step__two-col
          .checkbox
            input.checkbox__control(type="checkbox", v-model="checkboxHaveOSAGO", name="checkboxHaveOSAGO", id="checkboxHaveOSAGO")
            label.checkbox__label(for="checkboxHaveOSAGO")
              | ОСАГО
          
          .checkbox
            input.checkbox__control(type="checkbox", v-model="checkboxHaveCASCO",  name="checkboxHaveCASCO", id="checkboxHaveCASCO")
            label.checkbox__label(for="checkboxHaveCASCO")
              | КАСКО
        
      hr
      .step__two-col.step__w60-w40
        .checkbox.checkbox--bottom-m.checkbox_bold
          input.checkbox__control(type="checkbox", v-model="checkboxHaveOtherProperty", @change="handleCheckboxChange", name="checkboxHaveOtherProperty", id="checkboxHaveOtherProperty")
          label.checkbox__label(for="checkboxHaveOtherProperty")
            | Имею иное имущество в собственности
        .checkbox.checkbox--bottom-m.checkbox_bold(v-show="checkboxHaveOtherProperty")
          input.checkbox__control(type="checkbox", v-model="checkboxOtherAsCollateral", @change="handleCheckboxChange", name="checkboxOtherAsCollateral", id="checkboxOtherAsCollateral")
          label.checkbox__label(for="checkboxOtherAsCollateral")
            |  Предоставить в залог
      div(v-if="checkboxHaveOtherProperty")
        AppInput(:field.sync='otherPropertyDescription', :input='schema.otherPropertyDescription', name="otherPropertyDescription")
        
  
      .bottom-controls
        .calc-button.calc-button_back
          a.calc-button__inner(href="#", @click.prevent="handleClickBack")
            include ../assets/img/step-back-arrow.svg
        
        .calc-button
          a.calc-button__inner(href="#", @click.prevent="handleClick(validate)") продолжить



</template>

<script>
  import {mapFields} from 'vuex-map-fields';
  import {ValidationObserver} from "vee-validate";

  export default {
    name: 'step4',
    components: {
      ValidationObserver
    },
    methods: {
      checkButton() {
      
      },
      handleCheckboxChange() {
        this.checkButton();
      },

      goto() {
        // var element = document.getElementsByClassName("input__error")[0];
        // var elementPosition = element.getBoundingClientRect().top;
        // var offsetPosition;
        // if (elementPosition > 600) {
        //   offsetPosition = elementPosition + 100;
        //   console.log('vnutri')
        // }
        // offsetPosition = elementPosition;
        //
        // window.scrollTo({
        //   top: offsetPosition,
        //   behavior: "smooth"
        // });

      },

      toTop() {
        var element = document.getElementsByClassName("title-calc")[0];
        element.scrollIntoView({behavior: "smooth"})
      },

      handleClick(validate) {
        validate().then(res => {
          if (res) {
            this.activeStep = 5;
            this.toTop()
            this.$router.push({name: 'step5'})
          } else {
            this.$scrollTo(`.input__error`);
          }
        })
      },
      handleClickBack() {
        this.activeStep = 3;
        this.toTop();
        this.$router.push({name: 'step3'})
      },
      submit(){
        this.$store.dispatch('setPropertyType', this.getPropertyType)
      }
    },
    computed: {
      ...mapFields({
        schema: 'schema',
        checkboxHaveFlat: 'checkboxHaveFlat',
        propertyType:'propertyType',
        propertyTypeOptions:'propertyTypeOptions',
        propertyIndex:'propertyIndex',
        propertyRegion:'propertyRegion',
        propertyCity:'propertyCity',
        propertyLocality:'propertyLocality',
        propertyStreet:'propertyStreet',
        propertyHouse:'propertyHouse',
        propertyCorpus:'propertyCorpus',
        propertyStroenie:'propertyStroenie',
        propertyFlat:'propertyFlat',
        propertySquare:'propertySquare',
        propertyPrice:'propertyPrice',
        propertyShare:'propertyShare',

        nonResPropertyType: 'nonResPropertyType',
        nonResPropertyTypeOptions: 'nonResPropertyTypeOptions',
        nonResPropertyIndex: 'nonResPropertyIndex',
        nonResPropertyRegion: 'nonResPropertyRegion',
        nonResPropertyCity: 'nonResPropertyCity',
        nonResPropertyLocality: 'nonResPropertyLocality',
        nonResPropertyStreet: 'nonResPropertyStreet',
        nonResPropertyHouse: 'nonResPropertyHouse',
        nonResPropertyCorpus: 'nonResPropertyCorpus',
        nonResPropertyStroenie: 'nonResPropertyStroenie',
        nonResPropertyFlat: 'nonResPropertyFlat',
        nonResPropertySquare: 'nonResPropertySquare',
        nonResPropertyPrice: 'nonResPropertyPrice',
        nonResPropertyShare: 'nonResPropertyShare',
        
        checkboxHaveNonResidentialProperty: 'checkboxHaveNonResidentialProperty',
        checkboxHaveCar: 'checkboxHaveCar',
        carType:'carType',
        carTypeOptions: 'carTypeOptions',
        carModel:'carModel',
        carYear:'carYear',
        carPrice:'carPrice',
        carNumber:'carNumber',
        checkboxHaveOSAGO: 'checkboxHaveOSAGO',
        checkboxHaveCASCO: 'checkboxHaveCASCO',
        checkboxHaveOtherProperty: 'checkboxHaveOtherProperty',
        otherPropertyDescription: 'otherPropertyDescription',
        activeStep: 'activeStep',
        city: 'city',

        checkboxFlatAsCollateral: 'checkboxFlatAsCollateral',
        checkboxNonResidentalAsCollateral: 'checkboxNonResidentalAsCollateral',
        checkboxAutoAsCollateral: 'checkboxAutoAsCollateral',
        checkboxOtherAsCollateral: 'checkboxOtherAsCollateral',
      }),

    },
    propertyType(){
      return this.$store.getters.getPropertyType
    }
  }
</script>
