<template lang="pug">
  .step.step_5
    .step__heading Введите СМС код
    .step__subheading который пришел Вам на номер {{this.number}}
    ValidationObserver(v-slot="{ passes, validate }")
      AppInput(:field.sync='smsCode', :input='schema.smsCode', name="smsCode", rules="required")
    
      .bottom-controls
        .calc-button.calc-button_back
          a.calc-button__inner(href="#", @click.prevent="handleClickBack")
            include ../assets/img/step-back-arrow.svg
      
        .calc-button
          a.calc-button__inner(href="#", @click.prevent="handleClick(validate)") отправить заявку

</template>

<script>
  import { mapFields } from 'vuex-map-fields';
  import { ValidationObserver } from "vee-validate";

  export default {
    name: 'step5',
    components: {
      ValidationObserver
    },
    methods: {
      checkButton(){
        console.log('fff', this.checkboxChecked)
      },
      handleClick(validate) {
        validate().then(res => {
          if (res) {
            this.activeStep = 5;
            this.$router.push({name: 'step6'})
            
          }
        })
      },
      handleClickBack() {
        this.activeStep = 4;
        this.toTop();
        this.$router.push({name: 'step4'})
      },

      toTop() {
        var element = document.getElementsByClassName("title-calc")[0];
        element.scrollIntoView({behavior: "smooth"})
      },

    },
    computed:{
      ...mapFields({
        schema:'schema',
        smsCode: 'smsCode',
        number: 'number',
        activeStep: 'activeStep'
      }),
      
    }
  }
</script>
