<template lang="pug">
  .step
    
    ValidationObserver(v-slot="{ passes, validate }")
      AppInput(:field.sync='userFIO', :input='schema.fio', name="name", rules="required")
      
      AppInput(:field.sync='userNumber', :input='schema.number', name='tel', :rules="{required: true, regex: /^(\\+7|7|8)?[\\s\\-]?\\(?[489][0-9]{2}\\)?[\\s\\-]?[0-9]{3}[\\s\\-]?[0-9]{2}[\\s\\-]?[0-9]{2}$/}")
      
      AppInput(:field.sync='userEmail', :input='schema.mail', name="email", rules="email")
      
      v-select.selectBox(:options='creditTypeOptions', v-model='creditType', :searchable='false')
  
      div(v-show="creditType == 'Потребительские цели'")
        .slider-group.slider-group_consumer.slider-group_amount
          PriceInput.input_range(:field.sync='amount', :input='schema.amount', @handleFocus="showInput", @handleBlur="hideInput", @input="handleInput")
          .slider-group__value(@click="showInput")
            span.consumer-credit__input(v-show="false")
            span.consumer-credit__symbol ₽
          RangeSlider(v-model='amount', min='30000', max='5000000', step='10000')
          .slider-group__info
            .slider-group__min 30 000
            .slider-group__max 5 000 000
            
            
        .slider-group.slider-group_time
          AppInput.input_range(:field.sync='creditTerm', :input='schema.creditTerm', :disabled="true")
          .slider-group__value
            span(v-if='Math.floor(creditTerm/12)')
              |  {{Math.floor(creditTerm/12)}} {{nounYear}}
            span(v-if='creditTerm - Math.floor(creditTerm/12) * 12')
              |  {{creditTerm - Math.floor(creditTerm/12) * 12}} {{nounMonth}}
          RangeSlider(v-model='creditTerm', min='3', max='120')
          .slider-group__info
            .slider-group__min 3 месяца
            .slider-group__max 10 лет
        .final
          .final__item
            .final__text Сумма кредита:
            .final__amount  {{amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}} ₽
          .final__item
            .final__text Срок кредита:
            .final__amount
              span(v-if='Math.floor(creditTerm/12)')
                |  {{Math.floor(creditTerm/12)}} {{nounYear}}
              span(v-if='creditTerm - Math.floor(creditTerm/12) * 12')
                |  {{creditTerm - Math.floor(creditTerm/12) * 12}} {{nounMonth}}
              
              
      div(v-show="creditType === 'Развитие бизнеса'")
        .slider-group.slider-group_consumer.slider-group_amount
          PriceInput.input_range(:field.sync='amount', :input='schema.amount', @handleFocus="showInput", @handleBlur="hideInput", @input="handleInput")
          .slider-group__value(@click="showInput")
            span.consumer-credit__input(v-show="false") {{amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}}
            span.consumer-credit__symbol ₽
          RangeSlider(v-model='amount', min='30000', max='5000000', step='10000')
          .slider-group__info
            .slider-group__min 30 000
            .slider-group__max 5 000 000
    
    
        .slider-group.slider-group_time
          AppInput.input_range(:field.sync='creditTerm', :input='schema.creditTerm', :disabled="true")
          .slider-group__value
            span(v-if='Math.floor(creditTerm/12)')
              |  {{Math.floor(creditTerm/12)}} {{nounYear}}
            span(v-if='creditTerm - Math.floor(creditTerm/12) * 12')
              |  {{creditTerm - Math.floor(creditTerm/12) * 12}} {{nounMonth}}
          RangeSlider(v-model='creditTerm', min='3', max='120')
          .slider-group__info
            .slider-group__min 3 месяца
            .slider-group__max 10 лет
        .final
          .final__item
            .final__text Сумма кредита:
            .final__amount  {{amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}} ₽
          .final__item
            .final__text Срок кредита:
            .final__amount
              span(v-if='Math.floor(creditTerm/12)')
                |  {{Math.floor(creditTerm/12)}} {{nounYear}}
              span(v-if='creditTerm - Math.floor(creditTerm/12) * 12')
                |  {{creditTerm - Math.floor(creditTerm/12) * 12}} {{nounMonth}}
              
              
      div(v-show="creditType === 'Автокредит'")
        .slider-group.slider-group_consumer.slider-group_amount
          PriceInput.input_range(:field.sync='carPriceRub', :input='schema.carPriceRub', @handleFocus="showInput", @handleBlur="hideInput", @input="handleCarPriceInput")
          .slider-group__value(@click="showInput")
            span.consumer-credit__input(v-show="false")
            span.consumer-credit__symbol ₽
          RangeSlider(v-model='carPriceRub', min='30000', max='5000000', step='10000', @input="changeOwnFundings")
          .slider-group__info
            .slider-group__min 30 000
            .slider-group__max 5 000 000
            
        .slider-group.slider-group_consumer.slider-group_amount
          PriceInput.input_range(:field.sync='own', :input='schema.own', @keypress="isNumber($event)", @handleFocus="showInput", @handleBlur="hideInput", @input="handleOwn")
          .slider-group__value(@click="showInput")
            span.consumer-credit__input(v-show="false")
            span.consumer-credit__symbol ₽
          RangeSlider(v-model='own', min='10000', :max='carPriceRub', step='10000', @input="changePrice")
          .slider-group__info
            .slider-group__min 10 000
            .slider-group__max {{carPriceRub.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}}
    
        .slider-group.slider-group_time
          AppInput.input_range(:field.sync='creditTerm', :input='schema.creditTerm', :disabled="true")
          .slider-group__value
            span(v-if='Math.floor(creditTerm/12)')
              |  {{Math.floor(creditTerm/12)}} {{nounYear}}
            span(v-if='creditTerm - Math.floor(creditTerm/12) * 12')
              |  {{creditTerm - Math.floor(creditTerm/12) * 12}} {{nounMonth}}
          RangeSlider(v-model='creditTerm', min='3', max='120')
          .slider-group__info
            .slider-group__min 3 месяца
            .slider-group__max 10 лет
        .final
          .final__item
            .final__text Сумма кредита:
            .final__amount  {{carPriceRub.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}} ₽
          .final__item
            .final__text Срок кредита:
            .final__amount
              span(v-if='Math.floor(creditTerm/12)')
                |  {{Math.floor(creditTerm/12)}} {{nounYear}}
              span(v-if='creditTerm - Math.floor(creditTerm/12) * 12')
                |  {{creditTerm - Math.floor(creditTerm/12) * 12}} {{nounMonth}}
              
      div(v-show="creditType === 'Ипотека'")
        .slider-group.slider-group_consumer.slider-group_amount
          PriceInput.input_range(:field.sync='housePriceRub', :input='schema.housePriceRub', @handleFocus="showInput", @handleBlur="hideInput", @input="handleHousePriceInput")
          .slider-group__value(@click="showInput")
            span.consumer-credit__input(v-show="false") {{housePriceRub.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}}
            span.consumer-credit__symbol ₽
          RangeSlider(v-model='housePriceRub', min='30000', max='5000000', step='10000')
          .slider-group__info
            .slider-group__min 30 000
            .slider-group__max 5 000 000
    
        .slider-group.slider-group_consumer.slider-group_amount
          PriceInput.input_range(:field.sync='firstPay', :input='schema.firstPay', @handleFocus="showInput", @handleBlur="hideInput", @input="handleFirstPayInput")
          .slider-group__value(@click="showInput")
            span.consumer-credit__symbol ₽
          RangeSlider(v-model='firstPay', min='10000', max='5000000', step='10000')
          .slider-group__info
            .slider-group__min 10 000
            .slider-group__max 5 000 000
    
        .slider-group.slider-group_time
          AppInput.input_range(:field.sync='creditTerm', :input='schema.creditTerm', :disabled="true")
          .slider-group__value
            span(v-if='Math.floor(creditTerm/12)')
              |  {{Math.floor(creditTerm/12)}} {{nounYear}}
            span(v-if='creditTerm - Math.floor(creditTerm/12) * 12')
              |  {{creditTerm - Math.floor(creditTerm/12) * 12}} {{nounMonth}}
          RangeSlider(v-model='creditTerm', min='3', max='120')
          .slider-group__info
            .slider-group__min 3 месяца
            .slider-group__max 10 лет
            
        .checkbox
          input.checkbox__control(type="checkbox", v-model="checkboxMaternity", @change="handleCheckboxChange", name="checkboxMaternity", id="checkboxMaternity")
          label.checkbox__label(for="checkboxMaternity")
            |Оплата материнским капиталом
        .final
          .final__item
            .final__text Сумма кредита:
            .final__amount  {{housePriceRub.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}} ₽
          .final__item
            .final__text Срок кредита:
            .final__amount
              span(v-if='Math.floor(creditTerm/12)')
                |  {{Math.floor(creditTerm/12)}} {{nounYear}}
              span(v-if='creditTerm - Math.floor(creditTerm/12) * 12')
                |  {{creditTerm - Math.floor(creditTerm/12) * 12}} {{nounMonth}}
              
      div(v-if="creditType === 'Рефинансирование'")
        .checkbox-3-group
          .checkbox(v-for="option in checkedOptions")
            input.checkbox__control(type="radio", v-model="checkedOption", :id="option.value", :value="option.value", name="creditOptions")
            label(:for="option.value").checkbox__label {{option.text}}
          
          .input-other(v-if="checkedOption === 'Other'")
            AppInput(:field.sync='otherCreditType', :input='schema.otherCreditType', name='otherCreditType')
  
        .slider-group.slider-group_consumer.slider-group_amount
          PriceInput.input_range(:field.sync='otherCreditSum', :input='schema.otherCreditSum', @handleFocus="showInput", @handleBlur="hideInput", @input="handleOtherCreditInput")
          .slider-group__value(@click="showInput")
            span.consumer-credit__input(v-show="false")
            span.consumer-credit__symbol ₽
          RangeSlider(v-model='otherCreditSum', min='30000', max='5000000', step='10000', @input="changeRefinanceOwnFundings")
          .slider-group__info
            .slider-group__min 30 000
            .slider-group__max 5 000 000
    
        .slider-group.slider-group_consumer.slider-group_amount
          PriceInput.input_range(:field.sync='refinanceSum', :input='schema.refinanceSum', @handleFocus="showInput", @handleBlur="hideInput", @input="handleRefinanceInput")
          .slider-group__value(@click="showInput")
            span.consumer-credit__input(v-show="false") {{refinanceSum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}}
            span.consumer-credit__symbol ₽
          RangeSlider(v-model='refinanceSum', min='10000', :max='otherCreditSum', step='10000')
          .slider-group__info
            .slider-group__min 10 000
            .slider-group__max {{otherCreditSum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}}
    
        .slider-group.slider-group_time
          AppInput.input_range(:field.sync='creditTerm', :input='schema.creditTerm', :disabled="true")
          .slider-group__value
            span(v-if='Math.floor(creditTerm/12)')
              |  {{Math.floor(creditTerm/12)}} {{nounYear}}
            span(v-if='creditTerm - Math.floor(creditTerm/12) * 12')
              |  {{creditTerm - Math.floor(creditTerm/12) * 12}} {{nounMonth}}
          RangeSlider(v-model='creditTerm', min='3', max='120')
          .slider-group__info
            .slider-group__min 3 месяца
            .slider-group__max 10 лет
        .checkbox
          input.checkbox__control(type="checkbox", v-model="needForAdditionalFunds", @change="handleCheckboxChange", name="needForAdditionalFunds", id="needForAdditionalFunds")
          label.checkbox__label(for="needForAdditionalFunds")
            |Нужны дополнительные средства
          
        .final
          .final__item
            .final__text Сумма кредита:
            .final__amount  {{otherCreditSum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}} ₽
          .final__item
            .final__text Срок кредита:
            .final__amount
              span(v-if='Math.floor(creditTerm/12)')
                |  {{Math.floor(creditTerm/12)}} {{nounYear}}
              span(v-if='creditTerm - Math.floor(creditTerm/12) * 12')
                |  {{creditTerm - Math.floor(creditTerm/12) * 12}} {{nounMonth}}
  
  
  
  
  
      .bottom-controls
        .checkbox
          input.checkbox__control(type="checkbox", v-model="checkboxChecked", @change="handleCheckboxChange", name="agreement", id="checkbox-agreement")
          label.checkbox__label(for="checkbox-agreement")
            |Я принимаю&ensp;
            a(href='#').checkbox__link условия передачи информации.
        
        .calc-button
          a.calc-button__inner(href="#", @click.prevent="handleClick(validate)") продолжить
        .gosuslugi-auth-why
          a(href='#').gosuslugi-auth-why__link Зачем авторизоваться через госуслуги?



</template>

<script>
  // import AppInput from '@/components/Input.vue'
  // @ is an alias to /src
  // import HelloWorld from '@/components/HelloWorld.vue'
  import { mapFields } from 'vuex-map-fields';
  import getNoun from '@utils/getNoun';

  import { ValidationObserver } from "vee-validate";
  
  export default {
    name: 'step1',
    components: {
      // HelloWorld
      // AppInput
      ValidationObserver
    },
    mounted(){
    
    },
    methods: {
      checkButton(){
        console.log('fff', this.checkboxChecked)
      },
      handleCheckboxChange(){
        this.checkButton();
      },
      goto() {
        // var element = document.getElementsByClassName("input__error")[0];
        // var elementPosition = element.getBoundingClientRect().top;
        // var offsetPosition;
        // if (elementPosition > 600) {
        //   offsetPosition = elementPosition + 100;
        //   console.log('vnutri')
        // }
        // offsetPosition = elementPosition;
        //
        // window.scrollTo({
        //   top: offsetPosition,
        //   behavior: "smooth"
        // });
      },

      toTop() {
        const element = document.getElementsByClassName("title-calc")[0];
        element.scrollIntoView({behavior: "smooth"})
      },
      
      handleClick(validate){
        validate().then(res => {
          if(res){
            this.activeStep = 2;
            this.toTop();
            this.$router.push({name:'step2'})
          } else {
            this.$scrollTo(`.input__error`);
          }
        })
      },
      
      
      showInput() {
        this.priceIsShown = !this.priceIsShown
        // console.log(this.priceIsShown)
      },
      hideInput() {
        this.priceIsShown = true
        // console.log(this.priceIsShown)
      },
      changePrice() {
        
        // if (carPriceRub)
        // console.log('rrrrr')
      },
      handleInput(e) {
        this.checkAmountInput()
      },
      handleCarPriceInput(e) {
        this.checkCarPriceRub()
      },
      handleOwn(e) {
        this.checkOwn()
      },
      handleHousePriceInput(e) {
        this.checkHousePriceRub()
      },
      handleFirstPayInput(e) {
        this.checkFirstPay()
      },
      handleOtherCreditInput(e) {
        this.checkOtherCreditSum()
      },
      handleRefinanceInput(e) {
        this.checkRefinanceSum()
      },

      changeOwnFundings(e) {
        if(this.carPriceRub < this.own){
          this.own = this.carPriceRub
        }
      },

      changeRefinanceOwnFundings(e) {
        if(this.otherCreditSum < this.refinanceSum){
          this.refinanceSum = this.otherCreditSum
        }
      },
      
      checkAmountInput() {
        if (this.amount < 30000) {return this.amount = 30000}
        else if (this.amount >5000000) {return this.amount = 5000000}
      },
      checkCarPriceRub() {
        // if (this.own > this.carPriceRub) this.own = this.carPriceRub;
        //доделать
        if (this.carPriceRub < 30000) {return this.carPriceRub = 30000}
        else if (this.carPriceRub >5000000) {return this.carPriceRub = 5000000}
      },
      checkOwn() {
        if (this.own > this.carPriceRub) this.own = this.carPriceRub;
        if (this.own < 30000) {return this.own = 30000}
        else if (this.own >5000000) {return this.own = 5000000}
      },
      checkHousePriceRub() {
        if (this.housePriceRub < 30000) {return this.housePriceRub = 30000}
        else if (this.housePriceRub >5000000) {return this.housePriceRub = 5000000}
      },
      checkFirstPay() {
        if (this.firstPay < 30000) {return this.firstPay = 30000}
        else if (this.firstPay >5000000) {return this.firstPay = 5000000}
      },
      checkOtherCreditSum() {
        if (this.otherCreditSum < 30000) {return this.otherCreditSum = 30000}
        else if (this.otherCreditSum >5000000) {return this.otherCreditSum = 5000000}
      },
      checkRefinanceSum() {
        if (this.refinanceSum < 30000) {return this.refinanceSum = 30000}
        else if (this.refinanceSum >5000000) {return this.refinanceSum = 5000000}
      },
      //
      // isNumber: function(evt) {
      //   evt = (evt) ? evt : window.event;
      //   var charCode = (evt.which) ? evt.which : evt.keyCode;
      //   if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
      //     evt.preventDefault();;
      //   } else {
      //     return true;
      //   }
      // },
      
    },
    computed:{
      ...mapFields({
        userEmail:'mail',
        userFIO: 'fio',
        userNumber: 'number',
        amount: 'amount',
        creditTerm: 'creditTerm',
        creditType: 'creditType',
        creditTypeOptions: 'creditTypeOptions',
        schema:'schema',
        checkboxChecked: 'checkboxChecked',
        activeStep: 'activeStep',
        carPriceRub:'carPriceRub',
        own:'own',
        housePriceRub: 'housePriceRub',
        firstPay: 'firstPay',
        checkboxMaternity: 'checkboxMaternity',

        checkboxIsCustomerCredit: 'checkboxIsCustomerCredit',
        checkboxIsIpoteka: 'checkboxIsIpoteka',
        checkboxIsAutoCredit: 'checkboxIsAutoCredit',
        checkboxIsCreditCard: 'checkboxIsCreditCard',
        checkboxIsMicrozaym: 'checkboxIsMicrozaym',
        checkboxOtherCredit: 'checkboxOtherCredit',
        otherCreditSum: 'otherCreditSum',
        refinanceSum: 'refinanceSum',
        needForAdditionalFunds: 'needForAdditionalFunds',
        otherCreditType: 'otherCreditType',

        checkedOptions: 'checkedOptions',
        checkedOption: 'checkedOption'
      
      }),
      nounMonth(){
        return getNoun(this.creditTerm - Math.floor(this.creditTerm/12) * 12, 'месяц', 'месяца','месяцев')
      },
      nounYear() {
        return getNoun(Math.floor(this.creditTerm/12), 'год', 'года', 'лет')
      }
    }
  }
</script>
