<template>
  <div>
    <h2>
      Number of Alligators: (Tweened) {{ tweeningValue }}
    </h2>
    <span>{{ tweeningValue }}</span>
  </div>
</template>

<script>
  // const TWEEN = require('@tweenjs/tween.js');
  // const { Tween, Easing, autoPlay } = require('es6-tween');
  import VueMixinTween from 'vue-mixin-tween';
  export default {
    name:'animated-number',
    props: {
      value: {
        type: Number,
        required: true,
      }
    },
    mixins: [
      // The only required argument is the name of the property to tween.
      // The default duration is 500 milliseconds.
      // The default timing function is TWEEN.Easing.Quadratic.Out
      // We're using a "custom" linear timing function here.
      VueMixinTween('tweeningValue', 5000, (pos) => pos)
    ],
    data () {
      return {
        tweeningValue:0
      }
    },
    watch: {
      // value (newValue, oldValue) {
      //   this.tween(oldValue, newValue)
      // }
    },
    mounted () {
      // this.tween(0, this.value)
    },
    methods: {
      addAlligators() {
      
      },
      // tween (startValue, endValue) {
      //   var vm = this
      //   function animate () {
      //     if (Tween.update()) {
      //       requestAnimationFrame(animate)
      //     }
      //   }
      //
      //   new Tween({ tweeningValue: startValue })
      //       .to({ tweeningValue: endValue }, 500)
      //       .onUpdate(function () {
      //         vm.tweeningValue = this.tweeningValue.toFixed(0)
      //       })
      //       .start()
      //
      //   animate()
      // }
      
    },
    computed:{
      number:{
        get(){
          return this.value
        },
        set(val){
          this.$emit('update:value', val)
        }
      }
    }
  }
</script>
