<template lang="pug">
  ValidationProvider(tag="div", :vid="vid", :rules="rules", :name="name || label", v-slot="{ errors, required, ariaInput, ariaMsg}")
    .input(:class="classes")
      label.input__label(v-html="input.label")
      input.input__control(v-model.trim="inputValue", ref="input", autocomplete="off", :name="index ? input.name + index : input.name", :readonly="disabled", type="text", @focus="handleFocus", @blur="handleBlur", @input="handleInput", @click="popupTriggerClickHandle")
      a.input__popup-trigger(v-if="input.hasPopup", href="#", @click.prevent="popupTriggerClickHandle")
        img.input__popup-trigger-pic(src="img/popup-trigger.svg")
      span.input__error(v-bind="ariaMsg", v-if="errors[0]") {{ errors[0] }}
</template>

<script>
  import Inputmask from 'inputmask';

  export default {

    // inject: ['$validator'],
    props: {
      index: null,
      input: null,
      field: null,
      disabled: {
        default: false,
        required: false
      },
      vid: {
        type: String,
        default: undefined
      },
      name: {
        type: String,
        default: ""
      },
      label: {
        type: String,
        default: ""
      },
      rules: {
        type: [Object, String],
        default: ""
      },
      placeholder: {
        type: String,
        default: ""
      },
      type: {
        type: String,
        default: "text",
        validator(value) {
          return [
            "url",
            "text",
            "password",
            "tel",
            "search",
            "number",
            "email"
          ].includes(value);
        }
      },
      value: {
        type: null,
        default: ""
      }
    },
    name: 'app-input',
    components: {},
    data() {
      return {
        // inputValue:'',
        isFocus: false
      }
    },
    mounted() {
      if (this.input.mask) {
        this.setMask();
      }
      const {getter} = this.input;
      if (getter) {
        // this.inputValue = this.$store.getters[getter];
      }
    },
    methods: {
      setMask() {
        const placeholder =
            this.input.maskPlaceholder != 'undefined'
                ? this.input.maskPlaceholder
                : '_';

        if (this.input.maskRegex) {
          new Inputmask({
            showMaskOnHover: false,
            placeholder,
            regex: this.input.mask
          }).mask(this.$refs.input);
        } else {
          new Inputmask(this.input.mask, {
            showMaskOnHover: false,
            placeholder
          }).mask(this.$refs.input);
        }
      },
      handleFocus() {
        this.$emit('handleFocus');
        this.isFocus = true;
      },
      handleBlur() {
        if (this.isEmpty) {
          this.isFocus = false;
        }
        this.$emit('handleBlur');
      },
      handleInput(e) {
        // this.inputValue = e.target.value;
        // this.$emit('input', this.inputValue);
        // if(this.input.setter) {
        //   this.$store.dispatch(this.input.setter, this.inputValue);
        // }

      },
      popupTriggerClickHandle() {
        if (this.input.hasPopup) {
          this.$emit('togglePopup');
        }
      }
    },
    computed: {
      inputValue: {
        get() {
          return this.field;
        },

        set(field) {
          this.$emit('update:field', field);
          this.$emit('handleInput', field);
        }
      },
      isError() {
        if (this.index) {
          // return this.errors.has(this.input.name + this.index);
        }
        // return this.errors.has(this.input.name);
      },
      isEmpty() {
        if (this.inputValue) {
          return false;
        } else {
          return true;
        }
      },
      classes() {
        return {
          'is_status-focus': this.isFocus || !this.isEmpty,
          'is_status-error': this.isError,
          'is_status-valid': !this.isEmpty && !this.isError,
          'is_status-disabled': this.isDisabled
        };
      }
      // ...mapGetters({
      //   sportList: 'getSportList',
      //   sportTariffs: 'getSportTariffs',
      // })
    }
  }
</script>

<style lang="scss" scoped>
  .input {
    position: relative;
    font-family: 'Suisse Intl', sans-serif;
    margin-bottom: 12px;
    
    &.is_status-focus {
      .input__label {
        transform: translateY(20%) scale(.6);
        top: -4px;
      }
      /*.input__control {*/
      /*// background-color: #fff;*/
      /*border: 1px solid #04a4b0;*/
      /*}*/
    }
    &.is_status-error {
      .input__control {
        border: 1px solid #FF6464;
      }
    }
    &.is_status-valid {
      .input__control {
        // background-image: url('../assets/img/check.svg');
        background-position: calc(100% - 20px) 50%;
        background-repeat: no-repeat;
      }
    }
    &__popup-trigger {
      position: absolute;
      top: 10px;
      right: 17px;
      width: 30px;
      height: 30px;
      &-pic {
        width: 100%;
      }
    }
    
    &__pic {
      width: 42px;
    }
    &__label {
      font-family: 'Suisse Intl', sans-serif !important;
      cursor: text;
      position: absolute;
      transform-origin: left bottom;
      margin-bottom: 0;
      pointer-events: none;
      left: 21px;
      top: 12px;
      color: #808080;
      transform: translateY(92%) scale(1);
      font-size: 16px;
      line-height: 1;
      z-index: 1;
      transition: transform .2s linear;
      
      sup {
        line-height: 1px;
      }
    }
    &__control {
      font-family: 'Suisse Intl', sans-serif !important;
      width: 100%;
      background: transparent;
      -webkit-appearance: none;
      color: #1f1f1f;
      padding: 27px 20px 21px !important;
      border: 1px solid #e7e7e7;
      border-radius: 3px !important;
      cursor: text;
      outline: none;
      transition: border-color .3s ease;
      font-size: 16px;
      font-weight: 400;
    }
    &__error {
      color: #ff6464;
      font-size: 12px;
      padding-top: 4px;
      padding-left: 3px;
    }
    &__desc {
      margin-top: 3px;
      font-size: 12px;
      color: #808080;
    }
    
  }

</style>
