.step {
  .bottom-controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 44px;

    @include tablets {
      margin-top: 32px;
    }

    @include phone {
      margin-top: 20px;
    }

    .checkbox {
      @include phone {
        margin-bottom: 34px;
      }
    }

    @include phone {
      display: block;
    }
  }

  .gosuslugi-auth-why {
    width: 100%;
    text-align: right;
    font-size: 12px;
    margin-top: 12px;
    text-decoration: none;

    @include phone {
      text-align: center;
    }

    &__link {
      color: #000;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .calc-button {
    cursor: pointer;
    background-color: #00B295;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    max-width: 240px;

    @include phone {
      max-width: 296px;
      text-align: center;
      margin: 0 auto;
    }

    &_back {
      background-color: #E5E5E5;

      @include phone {
        margin-bottom: 12px;
      }

      .calc-button__inner {
        padding: 12px 24px;
      }

      &:hover {
        background-color: darken(#E5E5E5, 5%) !important;
      }
    }

    &__inner {
      display: block;
      padding: 12px 35px;
      color: white;
    }

    &:hover {
      background-color: darken(#00B295, 5%);
    }
  }
}
