.final {
  background-color: rgba(#C4C4C4, 0.1);
  padding: 19px 50px 28px;
  display: flex;
  justify-content: space-between;
  margin-left: -50px;
  width: calc(100% + 100px);
  margin-top: 70px;
  margin-bottom: 32px;

  @include phone {
    display: block;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__text {
    font-size: 16px;
    margin-right: 11px;
  }

  &__amount {
    font-weight: 700;
    font-size: 25px;

  }

}
