.progress-bar {
  padding-top: 30px;
  padding-bottom: 40px;
  width: 100%;
  border-right: 1px solid #E6E6E6;
  border-left: 1px solid #E6E6E6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;

  &__step {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 30px;


    &:before {
      z-index: -1;
      width: 25vw;
      right: 50%;
      display: block;
      content: '';
      position: absolute;
      height: 1px;
      top: 6px;
      background-color: #E6E6E6;
    }

    &_active {

      .progress-bar__square {
        background-color: $strawberry;
        border-color: $strawberry;
      }

      .progress-bar__text {
        color: #000;
      }

      &:before {
        z-index: 2;
        width: 25vw;
        right: 50%;
        display: block;
        content: '';
        position: absolute;
        height: 2px;
        top: 5px;
        background-color: $strawberry;
      }
    }

    &.last {

      &:after {
        width: 25vw;
        left: 0;
        //transform: rotate(-45deg);
        display: block;
        content: '';
        position: absolute;
        height: 1px;
        top: 6px;
        background-color: #E6E6E6;

      }

      &.progress-bar__step_active {
        &:after {
          width: 25vw;
          left: 0;
          //transform: rotate(-45deg);
          display: block;
          content: '';
          position: absolute;
          height: 1px;
          top: 6px;
          background-color: $strawberry;

        }
      }

    }

    &:last-child {

      &:after {
        width: 25vw;
        left: 0;
        //transform: rotate(-45deg);
        display: block;
        content: '';
        position: absolute;
        height: 1px;
        top: 6px;
        background-color: #E6E6E6;

      }

    }

  }

  &__square {
    z-index: 2;
    left: 50%;
    position: absolute;
    width: 13px;
    height: 13px;
    transform: rotate(45deg);
    border-radius: 3px;
    border: 1px solid;
    border-color: #E6E6E6;
    background-color: white;
  }

    &__text {
    color: #A6A6A6;
    font-family: 'Suisse Intl', 'Helvetica', sans-serif;
    font-size: 14px;
    left: calc(50% - 41px);
    max-width: 104px;
    top: 20px;
    text-align: center;
    position: absolute;
    display: block;

      @include phone {
        font-size: 12px;
      }
  }
}
