.slider-group {
  position: relative;
  margin-bottom: 45px;
  font-family: 'Suisse Intl', sans-serif;

  .range-slider {
    bottom: -8px !important;
  }

  &__value {
    position: absolute;
    bottom: 30% !important;
    right: 32px;
  }

  &__info {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    color: rgba(#000, 0.5);
    //margin-top: 12px;

    @include phone {
      font-size: 12px;
    }
  }

  &_amount {
    .slider-group__value {
      bottom: 34%;
    }

    .input__control {
      font-size: 16px;
      font-weight: 700;
      color: black;
      pointer-events: auto;
      padding: 27px 46px 21px !important;

      &:focus {

        //.consumer-credit__input {
        //  display: none;
        //}
        //  background-color: #ff9e9d;

      }
    }

    .slider-group__value {
      font-size: 16px;
      font-weight: 700;
    }

  }


  &_time {
    .slider-group__value {
      font-size: 16px;
      font-weight: 700;
      color: black;
    }
    .input__control {
      color: #ffffff !important;
      pointer-events: none;
    }

    .range-slider {
      bottom: -8px;
    }
    .input.is_status-focus .input__label {
      transform: translateY(100%) scale(1);
      top: 12px;
    }
  }



}

.input_range {
    &.is_status-focus {
      .input__label {
        transform:translateY(100%) scale(1);
        top: 12px;
      }
    }

    &.is_status-valid {
      .input__control {
        // background-image: url('../assets/img/check.svg');
        background-position: calc(100% - 20px) 50%;
        background-repeat: no-repeat;
      }
    }


  .input {
    &__label {

    }

    &__control {
      text-align: right;
    }

  }


}



.range-slider {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -4px;
  padding: 0;

  &-rail {
    background-color: transparent;
  }

  &-fill {
    background-color: #00B295;
  }

  &-knob {
    height: 26px;
    width: 26px;
    border: none;
    background-color: #00B295;
    box-shadow: none;

  }
}
