.step {
  border: 1px solid #E6E6E6;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 50px;

  hr {
    height: 1px;
    background-color: #E7E7E7;
    border: none;
    margin-top: 33px;
    margin-bottom: 33px;

  }

  @include tablets {
    padding: 16px;
  }

  &_5 {
    .step__heading {
      text-align: center;
      margin-bottom: 12px;
    }
    .step__subheading {
      text-align: center;
      margin-bottom: 47px;
    }

    .input {
      max-width: 432px;
      margin: 0 auto;
    }
    .bottom-controls {
      max-width: 432px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__big-input {
    .input__label {
      @include media(465px) {
        top: -11px;
      }

    }

    .input.is_status-focus .input__label {
      @include media(465px) {
        top: -12px;
      }

    }
  }

  &__heading {
    font-size: 24px;
    margin-bottom: 40px;

    @include tablets {
      margin-bottom: 20px;
      font-size: 18px;
    }
  }

  &__subheading {
    font-size: 16px;
    color: rgba(#000, 0.5);
  }

  &__title {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 7px;

    &_mb {
      margin-bottom: 24px;
    }

    @include tablets {
      //margin-bottom: 12px;
    }
  }

  &_bold {
    font-weight: 500;
    font-size: 20px;

    @include tablets {
      font-size: 18px;
    }
  }

  &_marg-bot {
    margin-bottom: 23px;
  }

  &__subtitle {
    font-size: 14px;
    color: rgba(#000, 0.5);
    margin-bottom: 26px;
  }

  &__comment {
    font-size: 12px;
    color: rgba(#848484, 0.8);
    margin-bottom: 12px;
    margin-top: -12px;
  }

  &__two-col {
    display: flex;
    justify-content: space-between;

    @include phone {
      display: block;
    }

    > div {
      width: 100%;
      margin-right: 27px;

      @include phone {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__w60-w40 {
    > div {
      &:last-child {
        width: 42%;

        @include phone {
          width: 58%;
        }
      }
    }
  }

  &__three-col {
    display: flex;
    justify-content: space-between;

    @include phone {
      display: block;
    }

    > div {
      width: 100%;
      margin-right: 27px;

      @include phone {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
