.title-calc {
  background-color: #E50086;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 21px 10px 19px;
  text-align: center;


  &__page-num {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
  }

  &__text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;


  }
}
