.step {
  .selectBox {
    &_family {
      .vs__dropdown-toggle {
        position: relative;
        &:before {
          content: 'Семейное положение*';
        }
      }
    }
    &_education {
      .vs__dropdown-toggle {
        position: relative;
        &:before {
          content: 'Образование*';
        }
      }
    }
    &_work {
      .vs__dropdown-toggle {
        position: relative;
        &:before {
          content: 'Тип занятости*';
        }
      }
    }
    &_orgName {
      .vs__dropdown-toggle {
        position: relative;
        &:before {
          content: 'Название организации*';
        }
      }
    }
    &_posOptions {
      .vs__dropdown-toggle {
        &:before {
          content: 'Должность*';
        }
      }

    }
    &_experiencwOptioins {
      .vs__dropdown-toggle {
        &:before {
          content: 'Стаж работы*';
        }
      }
    }
    &_bankOptioins {
      .vs__dropdown-toggle {
        &:before {
          content: 'Зарплатный банк*';
        }
      }
    }
    &_familyMembersNum {
      .vs__dropdown-toggle {
        &:before {
          content: 'Количество членов семьи*';
        }
      }
    }
    &_additionalIncome {
      .vs__dropdown-toggle {
        &:before {
          content: 'Дополнительный источник дохода*';
        }
      }
    }
    &_propertyType {
      .vs__dropdown-toggle {
        &:before {
          content: 'Тип объекта*';
        }
      }
    }
  }

  .v-select {
    font-family: 'Suisse Intl', sans-serif;
    margin-bottom: 15px;
  }

  .vs {
    &__dropdown-toggle {
      font-family: 'Suisse Intl', sans-serif;
    }
  }

  .vs__search, .vs__search:focus {
    margin: 0;
    padding: 0;
  }

  .vs__clear {
    visibility: hidden;
    pointer-events: none;
  }

  .vs__actions {
    cursor: pointer;
  }

  .vs__dropdown-toggle {
    position: relative;
    &:before {
      content: 'Цель*';
      position: absolute;
      top: 4px;
      left: 21px;
      font-size: 9px;
      color: #808080;
    }
  }

  .vs__dropdown-option {
    padding: 14px 21px;
    color: #808080;

    &--highlight {
      background: rgba(#C4C4C4, 0.2);
      color: black;
    }
  }

  .vs__search {
    display: block;
    cursor: pointer;
  }

  .selectBox .vs__search::placeholder,
  .selectBox .vs__dropdown-toggle {
    font-family: 'Suisse Intl', sans-serif !important;
    width: 100%;
    background: white;
    -webkit-appearance: none;
    color: #1f1f1f;
    padding: 24px 20px 18px !important;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    outline: none;
    transition: border-color .3s ease;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }

  .selectBox .vs__dropdown-menu {
    font-family: 'Suisse Intl', sans-serif !important;
    width: 100%;
    background: white;
    -webkit-appearance: none;
    color: #1f1f1f;
    border: 1px solid #e7e7e7;
    cursor: text;
    outline: none;
    transition: border-color .3s ease;
    font-size: 16px;
    font-weight: 400;
  }

  .vs__selected {
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 92%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }

  .vs__selected-options {
    width: 79%;
  }

}
