// @include add-grid(12);
// @include add-gutter(1/3);
// @include add-gutter-style('split');

// @include sgs-change('debug', true);

html, body {
  width: 100%;
  height: 100%;
  //min-width: 355px;
  font-family: 'Suisse Intl', sans-serif;
}

body {
  //padding: 150px;
  @include suisseFont;
  font-size: 14px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 3px;
    background-color: rgba(255,255,255,0.2);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 0px solid rgba(255,255,255,0.2); /* should match background, can't be transparent */
    background-color: $black;
  }
}

* {
  box-sizing: border-box;
}

textarea,
input[type="text"],
input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}
//
//.container {
//  max-width: 1440px;
//  margin: 0 auto;
//  padding: 0 56px;
//
//  @include tablets {
//    padding-left: 16px;
//    padding-right: 16px;
//  }
//}

//.wrapper {
//  position: relative;
//  min-height: 100%;
//  overflow: hidden;
//}

//a {
//  text-decoration: none;
//}
//
//img {
//  display: block;
//}
//
//ul {
//  padding: 0;
//  margin: 0;
//}
//
//ul li {
//  list-style: none;
//}
//
//h1, h2, h3, h4, h5, h6 {
//  margin-top: 0;
//  margin-bottom: 0;
//  font-weight: normal;
//  line-height: 1.42;
//}
