

@mixin placeholder {
	&::-webkit-input-placeholder { @content; }
	&:-moz-placeholder           { @content; }
	&::-moz-placeholder          { @content; }
	&:-ms-input-placeholder      { @content; }
}

@mixin media($width) {
	@media screen and (max-width: $width) {
		@content;
	}
}

@mixin tablets {
	@media screen and (max-width:1024px){
		@content;
	}
}

@mixin phone {
	@media screen and (max-width:767px){
		@content;
	}
}

@mixin suisseFont {
	font-family: 'Suisse Intl', 'Helvetica', sans-serif;
}
//colors
$strawberry: #D9007E;
$spindrift: #00B295;
$black: #000000;
$white: #ffffff;
$gray: #808080;
$slider-background: #F7FAF9;
