<template lang="pug">
  #bottom
    .title-calc
      span.title-calc__text Заполните контактную информацию (шаг {{activeStep}} из 5)
      
    .progress-bar
      <!--.progress-bar__step(v-for="(step,index) in schema.steps", :class="(index + 1) <= activeStep ? 'progress-bar__step_active' : ''")-->
      .progress-bar__step(v-for="(step,index) in schema.steps", :class="{'progress-bar__step_active':((index + 1) <= activeStep), last: (index === 3) && activeStep === 5 }")
        span.progress-bar__square
        span.progress-bar__text(v-text="step.text")
      
    #nav.nav
        <!--router-link(to='/step1') Step1-->
        <!--|  |-->
        router-link(to='/step2') Step2
        |  |
        router-link(to='/step3') Step3
        |  |
        router-link(to='/step4') Step4
        |  |
        router-link(to='/step5') Step5
        |  |
        router-link(to='/step6') Step6
        
    router-view
</template>



<script>
  import { mapFields } from 'vuex-map-fields';

  export default {

    created(){
      this.$router.replace({name:'step1'})
    },
    
    data(){
      return {
        // steps
      }
    },
    methods: {
      classes(index) {
        // if(index)
      }
    },
    computed:{
      ...mapFields({
        schema:'schema',
        activeStep: 'activeStep',
        // steps: 'steps'
      }),
    }
  }
</script>

<style lang="scss">
#bottom {
  font-family: 'Suisse Intl', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 91px;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
